# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# Generate ssh key
function ssh-key() {
  local email=$(git config --global user.email) key=$1
  if [ -z "$key" ]; then
    echo "Please supply the name of the ssh key"
  else
    ssh-keygen -t rsa -b 4096 -C ${email} -N "" -f ~/.ssh/${key}
    pbcopy <  ~/.ssh/${key}.pub
  fi
}

case $(uname) in
  'Darwin')

    # Open man page as PDF (OS X Only)
    function manpdf() {
      man -t "${1}" | open -f -a /Applications/preview.app/
    };

    # who is using the laptop's iSight camera?
    # from Paul Irish, https://github.com/paulirish/dotfiles
    function camerausedby() {
      echo "Checking to see who is using the iSight camera… 📷"
      usedby=$(lsof | grep -w "AppleCamera\|USBVDC\|iSight" | awk '{printf $2"\n"}' | xargs ps)
      echo -e "Recent camera uses:\n$usedby"
    };

  ;;
esac
