[submodule "tools/vim/.vim/bundle/bats.vim"]
	path = tools/vim/.vim/bundle/bats.vim
	url = git@github.com:vim-scripts/bats.vim.git
[submodule "tools/vim/.vim/bundle/molokai"]
	path = tools/vim/.vim/bundle/molokai
	url = git@github.com:vim-scripts/molokai.git
[submodule "tools/vim/.vim/bundle/groovy.vim"]
	path = tools/vim/.vim/bundle/groovy.vim
	url = git@github.com:vim-scripts/groovy.vim.git
[submodule "tools/vim/.vim/bundle/vim-gradle"]
	path = tools/vim/.vim/bundle/vim-gradle
	url = git@github.com:vim-scripts/vim-gradle.git
[submodule "tools/vim/.vim/bundle/puppet"]
	path = tools/vim/.vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "tools/vim/.vim/bundle/vim-airline"]
	path = tools/vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "tools/vim/.vim/bundle/vim-airline-themes"]
	path = tools/vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "tools/vim/.vim/bundle/vim-fugitive"]
	path = tools/vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "tools/vim/.vim/bundle/editorconfig-vim"]
	path = tools/vim/.vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "tools/vim/.vim/bundle/syntastic"]
	path = tools/vim/.vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
