# OSX stuff
.DS_Store
Desktop.ini

# Python
*.pyc

# vim files
.netrwhist
tools/vim/.vim/plugged/

# Vagrant
.vagrant/

# Visual Studio code
.vscode/

# NuShell
history.txt
shell/nushell/extra.nu

# Other
build/
*.swp
