# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# Generate ssh key
function ssh-key() {
  local email=$(git config --global user.email) key=$1
  if [ -z "$key" ]; then
    echo "Please supply the name of the ssh key"
  else
    ssh-keygen -t rsa -b 4096 -C ${email} -N "" -f ~/.ssh/${key}
    pbcopy <  ~/.ssh/${key}.pub
  fi
}

# Simple Calculator
function calc() {
  echo "$*" | bc -l;
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
  local port="${1:-8000}";
  sleep 1 && open "http://localhost:${port}/" &
  # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
  # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
  python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}
           
# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}
  
function digs() {
  dig -t $1 $2 +short
}

case $(uname) in
  'Darwin')

    # Open man page as PDF (OS X Only)
    function manpdf() {
      man -t "${1}" | open -f -a /Applications/preview.app/
    };
  ;;
esac
